@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor0: #2D512A;
    --cor1: #529E60;
    --cor2: #6D866F;
    --cor3: #b5b3b3;

    --fonte-destaque: Bebas Neue, cursive;
    --fonte-padrao: 'Arial, Vedana, Helvetica,  sans-serif';
}

section#login{
    F
}